
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

#main-title {
    text-align: center;
    color: #333;
}

.section {
    background-color: #fff;
    padding: 20px;
    margin: 20px;
    border-radius: 8px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

a {
    color: blue;
    text-decoration: none;
}

a:hover {
    color: darkred;
}

img {
    width: 200px;
    border: 3px solid #333;
    border-radius: 10px;
    display: block;
    margin: 10px auto;
}
